.icon-sidebar{
    width: 25px;
    height: 25px;
    margin-top: -3px;
    margin-left: 2px;
}

.title-morph{
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: 30px;
    font-weight: bold;
    /*color: #AAAEBB;*/
    /*color: #0c92ff;*/
    color: #1980d3;
    text-shadow: 1px 1px 1px #FFF;
    text-align: center;
}


.flex-container {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    flex-wrap: wrap;
}

.card-morph {
    padding: 60px;
    background: #EBECF0;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
    transition: all 0.2s ease 0s;
    border-radius: 12px;
    transition: all 0.2s ease 0s;
}

.game-back {
    width: 268px;
    height: 302px;
    padding: 30px 0 25px;
    margin-bottom: 30px;
    margin-left: 29px;
    margin-right: 29px;
    text-align: center;
    overflow: hidden;
    position: relative;
    min-height: 302px;
    border-radius: 12px;
    background: #EBECF0;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
    transition: all 0.2s ease 0s;
}

.game-back:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}

.game-back .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
}
.game-back .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}


.game-back:hover .picture::before {
    height: 100%;
}

.game-back .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* background-color: #1325d7; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.game-back .picture img {
    width: 100%;
    height: auto;
    /* border-radius: 50%; */
    transform: scale(1);
    transition: all 0.9s ease 0s;
}

.game-back:hover .picture img {

    /* background-color: #1325d7; */
    transform: scale(0.7);
}

.game-back .title {
    display: block;
    font-size: 15px;
    color: #7a7b7c;
    /* text-transform: capitalize; */
}

.game-back .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #1325d7;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}

.game-back:hover .social {
    bottom: 0;
}

.game-back .social li {
    display: inline-block;
}

.game-back .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.game-back .social li a:hover {
    color: #1325d7;
    background-color: #f7f5ec;
}


.input-morph{
    margin-right: 8px;
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 20px;
    padding: 16px;
    background-color: white;
    text-shadow: 1px 1px 0 #FFF;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
}
.input-morph:focus {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

#PP,
.ppclass {
    width: 200px;
    height: 200px;
    /*box-shadow: 0px 4px 83px rgba(0, 0, 0, 0.24);*/
    border-radius: 133px;
    background-size: cover;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

#prePP{
    width: 100%;
}

.input-pp{
    /* opacity: 0; */
    background: transparent;
    color: transparent;
    position: relative;
    top: -200px;
    /*left: 160px;*/
    left: calc(50% - 100px);
    width: 200px;
    height: 200px;
    border-radius: 133px;
    transition: all 0.2s ease 0s;
}

.input-pp:hover{
    background-color: rgba(0, 0, 0, 0.34);
}

.input-pp::file-selector-button {
    border: none;
    background: transparent;
    color: transparent;
}

.pp-morph{
    box-shadow:  23px 23px 46px #c7c8cb,
    -23px -23px 46px #f3f3f3;
    transition: all 0.2s ease 0s;
}

.pp-morph:hover{
    box-shadow:  5px 5px 10px #c7c8cb,
    -5px -5px 10px #f3f3f3;
}

#uploadIcone{
    display: none;
    position: relative;
    transform: scale(3.5);
    width: 0;
    top: -313px;
    /*left: 230px;*/
    left: calc(50% - 28px);
    color: white;
    pointer-events: none;
}

.btn-morph {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    background-color: #EBECF0;
    text-shadow: 1px 1px 0 #FFF;
}

.btn-morph {
    color: #61677C;
    font-weight: bold;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
}
.btn-morph:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}
.btn-morph:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}
.btn-morph .icon {
    margin-right: 8px;
}
.btn-morph.unit {
    border-radius: 8px;
    line-height: 0;
    width: 48px;
    height: 48px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    font-size: 19.2px;
}
.btn-morph.unit .icon {
    margin-right: 0;
}
.btn-morph.btn-morph-primary {
    display: block;
    width: 80%;
    color: #0c92ff;
    margin: auto;
}

.team-content.secondtext{
    margin-top: -14px;
}

.iconestatus{
    font-size: 20px;
    margin-left: 5px;
    color: green;
}
.nameserver{
    font-size: 21px;
    margin-top: 8px;
    margin-left: 27px;
}
.ipserver{
    margin-left: 19px;
}
.ipserver:hover{
    text-decoration: underline;
}
.dropdownarrow{
    margin-left: auto;
    transition: all 0.5s ease 0s;
}

.dropdownContent{
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.dropdown-morph {
    padding: 0px 20px;
    /*padding: 60px;*/
    width: 685px;
    height: 60px;


    background: #EBECF0;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
    transition: all 0.3s ease 0s;
    border-radius: 12px;

    margin-bottom: 30px;
}

@media (max-width: 690px) {
    .dropdown-morph{
        width: 100%;
    }

    .btnAndStatus{
        display: block!important;
    }

    .btnDiv{
        width: 100% !important;
    }

    .statusDiv{

        width: 100% !important;
    }

    .dropdown-morph-active {
        height: 355px!important;
    }


}

.dropdown-morph:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;!important;
    /*box-shadow: inset 5px 5px 10px #c8c9cc,inset -5px -5px 10px #ffffff;*/
}

.dropdown-morph-active{
    height: 240px;
    align-items: start;
    transition: all 0.3s ease 0s;
}


.rotate {
    transform: rotate(180deg);
    transition: transform 0.5s ease;
}

.display-block {
    transition: all 0.3s ease 0s;
    display: block !important;
}


.dropdownHover{
    margin-top: -15px;
    display: none;
    transition: all 0.5s ease 0s;
}

.progressbarBack{
    width: 80%;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 14px;
    margin-left: auto;
    box-shadow:  5px 5px 10px #c8c9cc, -5px -5px 10px #ffffff;
    height: 20px;
    border-radius: 10px
}

.progressbarProf{
    width: 100%;
    box-shadow: inset 1px 1px 2px #bebebe, inset -1px -1px 2px #ffffff;;
    height: 20px;
    border-radius: 10px;
}

.progressbar {
    height: 20px;
    border-radius: 10px;
}